

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>


      <!-- search option -->
      <div class="navbar-nav ms-auto">
        <form class="d-flex search-bar" method="GET" action="/listings">

        <div class="select-wrapper">
          <select id="searchType" name="type" class="search-select">
            <option value="title">Title</option>
            <option value="location">Location</option>
            <option value="country">Country</option>
          </select>
        </div>  

          <input id="searchInput" class="search-inp" type="search" name="search" placeholder="Search destinations">

          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
            Search
          </button>

        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add new listings</a>
        <% if(!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Log In</b></a>
          <% } %>
            <% if(currUser) { %>
              <a class="nav-link" href="/logout"><b>Log Out</b></a>
              <% } %>
      </div>


    </div>
  </div>
</nav>

<script>
const searchType = document.getElementById("searchType");
const searchInput = document.getElementById("searchInput");
const form = document.querySelector(".search-bar");

if (searchType && searchInput && form) {

    function updatePlaceholder() {
        searchInput.placeholder = `Search by ${searchType.options[searchType.selectedIndex].text}`;
    }

    updatePlaceholder();
    searchType.addEventListener("change", updatePlaceholder);

    form.addEventListener("submit", (e) => {
        if (searchInput.value.trim() === "") {
            e.preventDefault();
            searchInput.focus();
        }
    });
}
</script>